<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20856260397-hnk8p4f9lppb8o1cqk1b5e2iri9skcna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20856260397-hnk8p4f9lppb8o1cqk1b5e2iri9skcna</string>
	<key>API_KEY</key>
	<string>AIzaSyDmnfy_dnpLFVftxKxZCgBlNbkodUG7-aI</string>
	<key>GCM_SENDER_ID</key>
	<string>20856260397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restoApp</string>
	<key>PROJECT_ID</key>
	<string>restoapp-dicoding</string>
	<key>STORAGE_BUCKET</key>
	<string>restoapp-dicoding.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20856260397:ios:f1aaccb0d44708b5c035a4</string>
</dict>
</plist>